@import "variables.scss";

* {
  box-sizing: border-box;
  // background-color: rgba(0, 255, 0, 0.1);
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

input {
  background-color: #fff;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  width: fit-content;
  width: 150px;
}

button {
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0,0,0, 1);
  z-index: 5;
}

body {
  //height: 100vh;
  background-color: #272b30;
  color: #fff;

  header.nav {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;

    .nav-item {
      min-width: 10vw;

      input {
        text-align: center;
      }

      .kind-of-game-ct {
        text-align: center;
        margin-top: 3rem;
      }
    }
    // height: 20vh;
  }

  main.content {
    @include flex-center;
    //max-height: 50vh;
    // padding: 2rem;
    background-color: #1c1e22;

    .sets-ct {
      @include flex-center;
      justify-content: start;
      width: 85%;
      margin: 1rem;
      padding: 1rem;
      overflow: scroll;

      .row.set {
        @include flex-center;
        //flex-direction: column;
        justify-content: start;
        width: fit-content;
        margin: 2rem 0;
        gap: 0.25rem;
        .item {
          flex: 1;
          text-align: center;
          padding: 0.25rem 0.75rem;
          min-height: 1.5rem;
        }
      }
    }
    .cat-ct {
      margin: 1rem;
      padding: 1rem;
      width: 15%;
    }
  }
  // footer.info {
  //   height: 30vh;
  // }
}